default_parameters:
  unit:
    unit_investment_variable_type: unit_investment_variable_type_continuous
  connection:
    connection_investment_variable_type: connection_investment_variable_type_continuous
  model:
    discount_rate: 0.05
    # use_economic_representation: True

map_of_periods_or_historical_to_ts:
  unit:
    unit:
      availability: [unit_availability_factor, 1.0,[[1]]]
      units_fix_cumulative: [fix_units_invested_available, 1.0, [[1]]]
  unit__to_node:
    unit:
      profile_limit_upper: [unit_availability_factor, 1.0,[[1]]]
      investment_cost: [unit_investment_cost, 1.0, [[1]]]
      fixed_cost: 
        target: [fom_cost, 1.0,[[1]]]
        operation: divide
        with: 8760.0
    unit__to_node:
      other_operational_cost: [vom_cost, 1.0,[[1],[2]]]
      profile_fix:  
        target: [fix_unit_flow, 1.0,[[1],[2]]]
        operation: multiply
        with: capacity
  node__to_unit:
    unit:
      fixed_cost: 
        target: [fom_cost, 1.0,[[2]]]
        operation: divide
        with: 8760.0
    unit__from_node:
        other_operational_cost: [vom_cost, 1.0,[[2],[1]]]
  link: 
    connection:
      investment_cost: [connection_investment_cost,1.0,[[1]]]
      links_max_cumulative: [candidate_connections,1.0,[[1]]]
      availability: [connection_availability_factor,1.0,[[1]]]
  node__link__node: 
    connection__from_node:
      operational_cost: [connection_flow_cost, 1.0,[[2],[1]]]
      capacity: [connection_capacity,1.0,[[2], [1]]]
    connection__node__node:
      efficiency: [fix_ratio_out_in_connection_flow,1.0,[[2], [3], [1]]]
  node:
    node:
      flow_annual: [fractional_demand,1.0,[[1]]]
      storage_state_lower_limit: [node_state_min_factor, 1.0,[[1]]]
      storage_state_upper_limit: [node_availability_factor, 1.0,[[1]]]
      storages_fix_cumulative: [fix_storages_invested_available,1.0,[[1]]]
      storages_max_cumulative: [candidate_storages,1.0,[[1]]]
      storage_investment_cost: [storage_investment_cost,1.0,[[1]]]
      storage_fixed_cost: 
        target: [storage_fom_cost, 1.0,[[1]]]
        operation: divide
        with: 8760
      commodity_price: [tax_out_unit_flow,1.0,[[1]]]

link_parameters_to_directions:
  efficiency: [connection__node__node,fix_ratio_out_in_connection_flow,1.0,[[2], [3], [1]]]
  operational_cost: [connection__to_node,connection_flow_cost,1.0,[[2], [3]]]
  capacity: [connection__to_node,connection_capacity,1.0,[[2], [3]]]

lifetime_to_duration:
  unit:
    unit: 
      lifetime: 
        - unit_investment_econ_lifetime
        - unit_investment_tech_lifetime
  link:
    connection:
      lifetime:
        - connection_investment_econ_lifetime
        - connection_investment_tech_lifetime
  node:
    node:
      storage_lifetime: 
        - storage_investment_econ_lifetime
        - storage_investment_tech_lifetime
    